<h1>Edit <%= @kitten.name %>'s Info</h1>

<%= render "form", kitten: @kitten %>

<%= link_to 'Delete Kitten', kitten_path(@kitten), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                            } %>  